:root {
    --blue: #0057FF;
    --white: #FAFAFA;
    --dark-white: #BBD1FB;
    --light-blue: #F7F9FC;
  }
  
html,
body {
  font-size: 10px;
  line-height: 1;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.disabled {
  cursor: not-allowed;
}

footer {
  border-bottom: 10px solid var(--blue);
  padding: 20px 20px 5px;
}

footer p {
 font-size: 1.4em;
}