:root {
    --blue: #0057FF;
    --white: #FAFAFA;
    --dark-white: #BBD1FB;
    --light-blue: #F7F9FC;
  }
  
html,
body {
  font-size: 10px;
  line-height: 1;
  margin: 0;
}

footer {
  padding: 20px;
}

footer p {
 font-size: 1.4em;
}